* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 1rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  form {
    margin: 0 auto;
    width: 350px;
    height: 400px;
    padding: 1.5rem;
    background-color: lightslategrey;

  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
  }
 
  
 .Wrapper{
    padding-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
 }

 .Card{
    width: 300px;
    background-color: antiquewhite;
    height: 200px;
    padding: 10px;
    text-align: center;
 }

 .Card h4{
text-align: left;
 }

  form button {
    margin: auto;
    display: block;
  }
  
  li {
    list-style: none;
    border: 1px solid grey;
    margin: 1rem auto;
    padding: 1rem;
  }
  li > h4 {
    font-weight: 400;
  }
  li span {
    font-weight: bold;
  }
  
  li button {
    margin-right: 1rem;
    padding: 0.25rem 1.25rem;
  }
  
  .btn-delete {
    margin-top: 18px;
    border: 1px solid tomato;
    background-color: tomato;
    color: white;
    width: 70%;

  }
  
  .btn-edit {
    border: 1px solid navy;
    background-color: navy;
    color: white;
    margin-top: 18px;
    width: 70%;
  }
.input{
  display: none;
}
  .rail{
    position: relative;
    width: 90px;
    height: 20px;
    background-color: #fff;
    border-radius: 3rem;
  }
  .circle{
    display: block;
    width: 26px;
    height: 26px;
    background-color: blueviolet;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: transform 0.4s;
  }

  .indicator{
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 1.5rem;
    transition: 0.4s
  }
  .input:checked ~.rail .circle{
    transform: translate(64px,-50%);

  }